
#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #00088c;
}

.clickable:hover {
  text-decoration: underline;
  
}

#cat-showing {
  display: none;
}

#iguana-showing {
  display: none;
}

.clickable2:hover {
  text-decoration:underline;
}

.clickable1:hover {
  text-decoration: underline;
}
